<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Memorial Guestbook for Rose">
        <meta name="keywords" content="rose, memorial, guestbook, family">
        <meta name="author" content="Michael J Peppers <mcgdevfunk824@protonmail.com>">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home | Memories of Rose</title>
        <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.2.0/ekko-lightbox.min.css" rel="stylesheet">
        <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
        <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />
        
    </head>

<body id="page-top" class="index">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="#">
        <img src="rosebrand.png" alt="logo" style="width:40px;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/comments/new">Guestbook</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#portfolio">Picture Gallery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#extras">Memorial Videos</a>
                </li>
            </ul>
        </div>
</nav>

    <!-- Header -->
    <header>
        <div class="container" id="maincontent" tabindex="-1">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-fluid rounded" src="nana1.png" width="350" height="400" alt="nana-main">
                    <div class="intro-text">
                        <h1 class="name">Rose Vivilacqua</h1>
                        <hr class="star-light">
                        <h2 class="centered mt-0"><span class="txt-rotate" data-period="2000" data-rotate='[ "We Miss You Nana.", "Gone but Never Forgotten.", "In our stars Forever.", "Love Never Dies.", "Our stars Hurt."]'></span></h2>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Memories</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <a href="nana2.png" class="portfolio-link" data-toggle="lightbox" data-gallery="gallery">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="nana2.png" class="img-fluid rounded" height="350" width="350" alt="nana 2">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="nana3.png" class="portfolio-link" data-toggle="lightbox" data-gallery="gallery">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="nana3.png" class="img-fluid rounded" height="350" width="350" alt="nana 3">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="nana4.png" class="portfolio-link" data-toggle="lightbox" data-gallery="gallery">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="nana4.png" class="img-fluid rounded" height="350" width="350" alt="nana 4">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="nana5.png" class="portfolio-link" data-toggle="lightbox" data-gallery="gallery">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="nana5.png" class="img-fluid rounded" height="350" width="350" alt="nana 5">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="nana6.png" class="portfolio-link" data-toggle="lightbox" data-gallery="gallery">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="nana6.png" class="img-fluid rounded" height="350" width="350" alt="nana 6">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="nana7.png" class="portfolio-link" data-toggle="lightbox" data-gallery="gallery">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="nana7.png" class="img-fluid rounded" height="350" width="350" alt="nana 7">
                    </a>
                </div>
                 <div class="col-sm-4 portfolio-item">
                    <a href="nana8.png" class="portfolio-link" data-toggle="lightbox" data-gallery="gallery">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="nana8.png" class="img-fluid rounded" height="350" width="350" alt="nana 7">
                    </a>
                </div>
                 <div class="col-sm-4 portfolio-item">
                    <a href="nana9.jpg" class="portfolio-link" data-toggle="lightbox" data-gallery="gallery">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="nana9.jpg" class="img-fluid rounded" height="350" width="350" alt="nana 7">
                    </a>
                </div>
                 <div class="col-sm-4 portfolio-item">
                    <a href="nana10.jpg" class="portfolio-link" data-toggle="lightbox" data-gallery="gallery">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="nana10.jpg" class="img-fluid rounded" height="350" width="350" alt="nana 7">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="nana11.jpg" class="portfolio-link" data-toggle="lightbox" data-gallery="gallery">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="nana11.jpg" class="img-fluid rounded" height="350" width="350" alt="nana 7">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="nana12.jpg" class="portfolio-link" data-toggle="lightbox" data-gallery="gallery">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="nana12.jpg" class="img-fluid rounded" height="350" width="350" alt="nana 7">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="nana13.jpg" class="portfolio-link" data-toggle="lightbox" data-gallery="gallery">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="nana13.jpg" class="img-fluid rounded" height="350" width="350" alt="nana 7">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="nana14.jpg" class="portfolio-link" data-toggle="lightbox" data-gallery="gallery">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="nana14.jpg" class="img-fluid rounded" height="350" width="350" alt="nana 7">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="nana15.jpg" class="portfolio-link" data-toggle="lightbox" data-gallery="gallery">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="nana15.jpg" class="img-fluid rounded" height="350" width="350" alt="nana 7">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="nana16.jpg" class="portfolio-link" data-toggle="lightbox" data-gallery="gallery">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="nana16.jpg" class="img-fluid rounded" height="150" width="250" alt="nana 7">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="nana17.jpg" class="portfolio-link" data-toggle="lightbox" data-gallery="gallery">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="nana17.jpg" class="img-fluid rounded" height="350" width="350" alt="nana 7">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="nana18.jpg" class="portfolio-link" data-toggle="lightbox" data-gallery="gallery">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="nana18.jpg" class="img-fluid rounded" height="350" width="350" alt="nana 7">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="nana19.jpg" class="portfolio-link" data-toggle="lightbox" data-gallery="gallery">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="nana19.jpg" class="img-fluid rounded" height="350" width="350" alt="nana 7">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="nana20.png" class="portfolio-link" data-toggle="lightbox" data-gallery="gallery">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="nana20.png" class="img-fluid rounded" height="350" width="350" alt="nana 7">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="nana21.jpg" class="portfolio-link" data-toggle="lightbox" data-gallery="gallery">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="nana21.jpg" class="img-fluid rounded" height="350" width="350" alt="nana 7">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="nana22.jpg" class="portfolio-link" data-toggle="lightbox" data-gallery="gallery">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="nana22.jpg" class="img-fluid rounded" height="350" width="350" alt="nana 7">
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section id="extras" id="video">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Memorial Videos</h2>
                    <hr class="star-primary">
                        <div class="col-lg-12">
                            <div class="embed-responsive embed-responsive-16by9"> 
                                <video width="400" controls>
                                    <source src="Mainfixedweb.m4v" type="video/mp4">
                                </video>
                            </div>
                        </div>
                        <hr>
                        <div class="col-lg-12">
                            <div class="embed-responsive embed-responsive-16by9"> 
                                <video width="400" controls>
                                    <source src="Memoriesweb.m4v" type="video/mp4">
                                </video>
                            </div>
                        </div>
                        <hr>
                        <div class="col-lg-12">
                            <div class="embed-responsive embed-responsive-16by9"> 
                                <video width="400" controls>
                                    <source src="alwaysweb.mp4" type="video/mp4">
                                </video>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                
                <section id="eulogy">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <h2>Eulogy</h2>
                            <hr class="star-primary">
                            <div class="col-lg-12">
                                <div id="Iframe-Master-CC-and-Rs" class="set-margin set-padding set-border set-box-shadow center-block-horiz">
                                    <div class="responsive-wrapper 
                                        responsive-wrapper-wxh-572x612"
                                        style="-webkit-overflow-scrolling: touch; overflow: auto;">
                                    
                                        <iframe src="https://mcgdevfunk824.github.io/memoriesofrose/eulogy.pdf"> 
                                        <p style="font-size: 150%;"><em><strong>ERROR: </strong>  
                                        An &#105;frame should be displayed here but your browser version does not support &#105;frames. </em>Please update your browser to its most recent version and try again.</p>
                                        </iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <br />        


    <!-- About Section -->
    <section class="success" id="guestbook">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Guestbook</h2>
                    <hr class="star-light">
                    <p>Share a memory</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <% @comments.each do |comment| %>
                    <% if comment.id % 2 != 0 %> 
                    <p>
                    <%= comment.message %> </p>
                    <br>
                  <p class="greyed">
                    <%= comment.user %> </h6> </p>
                    <br>
                    <br>
                    <% end %>
                    <% end %>
                </div>
                <div class="col-lg-4">
                    <% @comments.each do |comment| %>
                    <% if comment.id % 2 == 0 %> 
                    <p>
                    <%= comment.message%> </p>
                    <br>
                    <p class ="greyed">
                    <%= comment.user %> </p>
                    <br>
                    <br>
                    <% end %>
                    <% end %>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="/comments/new" class="btn btn-lg btn-outline">
                        Sign Here
                    </a>
                </div>
            </div>
        </div>
    </section>


<!--     <section>
    <div class ="container">

    <div class="col-lg-12 text-center">
                    <h2>Say a word</h2>
                    <hr class="star-light">
                </div>
<p id="notice"><%= notice %></p>

<table>
<col width = 100%>
  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.message %></td>
      </tr>
      <tr>
      <h3><td><%= "From: " + comment.user %></td></h3>
      </tr>
      <tr>
      <td>
      <br>
      </td>
      <td><%= link_to 'Show', comment %></td>
        <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
        <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <td> <%= link_to 'New Comment', new_comment_path %> </td>
  </tbody>
</table> -->

    </section>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://rawgit.com/mattboldt/typed.js/v2.0.6/lib/typed.min.js "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.2.0/ekko-lightbox.min.js"></script>

</body>
</html>
